
name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: macos-latest
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.2
      id: go

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Test
      run: go run *.go --help